node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

.openzeppelin/unknown-*.json
!.openzeppelin/unknown-424.json
!.openzeppelin/unknown-100.json

# Foundry files
out
cache_forge
